.col-4{
    margin-top: 30px;
}
.row{
    padding-bottom: 100px;
}
.basket{
    margin-right: 100px;
    text-decoration: none;
}
sup{

    font-size: 13px;
    color: white;
    background-color: red;
    padding: 0px 4px;
    border-radius: 50%;
}